[flake8]
# Why these?
# B007 - this rule wants underscores in loop iterators. That's dumb
# E203,E501,W503 - needed to not conflict with Black
ignore = B007, E203, F403, F405, E501, W503
max-line-length = 120
max-complexity = 18
